*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.sidebar1
{
    position: fixed;
    left: -210px;
    width: 210px;
    height: 100%;
    background-color: #8a2be2;
    transition:  all .5s ease;
}
.sidebar1 h2{
  
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color:   #1f2630;
    user-select: none;
    margin-right: 0px;
}
.sidebar1 ul a
{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    padding-left: 1px;
    padding-right: 20px;
    /*border-top: 1px solid rgba(255, 255, 255, 0.49);
    border-bottom: 1px solid black;*/
    transition: .4s;

}
.sidebar1 li:hover a{
    padding-left: 50px;
    background-color: rgb(76, 228, 81);

}
.sidebar1 ul li a .icon{
    margin-right: 16px;
}
#check{
   display: none;
   
}
label #menubar, label #close{
    position: absolute;
    cursor: pointer;
    background-color:  #1b2430;
    border-radius: 3px;
    position: fixed;
}
label #menubar{
    left: 40px;
    top: 20px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s ease;
   
    
}
label #close
{
    z-index: 1111;
    left: -155px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar
{
    left: 0;
 }
 #check:checked ~ label #menubar
 {
    left: 210px;
    opacity: 0;
    pointer-events: none;
 }
 #check:checked ~ label #close
 {
    left: 155px;
   
 }
 #check:checked ~ .full2
 {
    margin-left: 210px;
   
 }
 
.navbar_in
{
    width: 1600px;
    height:80px; 
    margin: auto;
    margin-left: 150px;
    margin: 0;
    background-color:  #94386c;
   background: url("https://static.vecteezy.com/system/resources/previews/021/559/012/non_2x/abstract-art-background-minimal-style-wallpaper-with-purple-botanical-leaves-wedding-invitation-card-template-set-with-floral-background-for-banner-poster-web-and-packaging-vector.jpg");
    position: absolute;
   position: fixed;
}

.icons
{
    width: 200px;
    height: 70px;
    float: left;
    margin-left: 110px;
    font-size: 24px;
}

.head
{
    color: rgba(251, 248, 248, 0.986);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    font-weight: lighter;
    padding-top: 22px;
   
   
}
.nav1
{
    width: 4000px;
    float: left;
    height: 200px;
    position: fixed;
    margin-left: 600px;
    
    
   
}
.nav1 ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.nav1 ul li
{
     list-style: none;
     margin-left: 44px;
     margin-top: 27px;
     font-size: 17px;
}
.nav1 ul li a
{
    text-decoration: none;
    color: rgba(8, 7, 7, 0.986);
    font-family: Arial;
    font-weight: lighter;
   display: block;
    
}
.nav1 ul li a:hover
{
    color: rgb(252, 31, 2);
}

    


.content
{
    width: 1500px;
    height: auto;
    margin: auto;
    color: white;
  
    
    
}
.content .para
{
    font-size: 55px;
   
    margin-top: 10%;
    margin-left: 22%;
    letter-spacing: normal;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    line-height: 75px;
}


.shopbut
{
    
    width: 130px;
    font-size: 18px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border-color: white;
    
    box-shadow: 0 3px 4px rgba(255, 255, 255, 0.986);
    position: absolute;
    
}
.tranbut
{
    position: absolute;
    margin-left: 46%;
    margin-top: 22%;
 
}
.sec1
{
    font-size: 22;
    font-family: 'Times New Roman';
}
.about,
.service,
.Design
{
    height: 100vh;
    padding-top: 10px;
    align-items: center;
}
.about
{
   background-color: rgb(230, 248, 130);
}
.service
{
   background-color: rgb(155, 249, 155);
}
.Design
{
    background-color: rgb(182, 237, 255);
}





.name1
{
    color: #fff;
}
.log
{
    padding-left: 150px;
}
